
*.json
clion/.idea/clion.iml
clion/.idea/discord.xml
clion/.idea/misc.xml
clion/.idea/modules.xml
clion/.idea/vcs.xml
clion/cmake-build-debug/.cmake/api/v1/query/cache-v2
clion/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
clion/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
clion/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
clion/cmake-build-debug/.ninja_deps
clion/cmake-build-debug/.ninja_log
clion/cmake-build-debug/build.ninja
clion/cmake-build-debug/clion.exe
clion/cmake-build-debug/cmake_install.cmake
clion/cmake-build-debug/CMakeCache.txt
clion/cmake-build-debug/CMakeFiles/3.21.1/CMakeCCompiler.cmake
clion/cmake-build-debug/CMakeFiles/3.21.1/CMakeCXXCompiler.cmake
clion/cmake-build-debug/CMakeFiles/3.21.1/CMakeDetermineCompilerABI_C.bin
clion/cmake-build-debug/CMakeFiles/3.21.1/CMakeDetermineCompilerABI_CXX.bin
clion/cmake-build-debug/CMakeFiles/3.21.1/CMakeRCCompiler.cmake
clion/cmake-build-debug/CMakeFiles/3.21.1/CMakeSystem.cmake
clion/cmake-build-debug/CMakeFiles/3.21.1/CompilerIdC/a.exe
clion/cmake-build-debug/CMakeFiles/3.21.1/CompilerIdC/CMakeCCompilerId.c
clion/cmake-build-debug/CMakeFiles/3.21.1/CompilerIdCXX/a.exe
clion/cmake-build-debug/CMakeFiles/3.21.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
clion/cmake-build-debug/CMakeFiles/clion-environment.txt
clion/cmake-build-debug/CMakeFiles/clion-log.txt
clion/cmake-build-debug/CMakeFiles/clion.dir/main.cpp.obj
clion/cmake-build-debug/CMakeFiles/cmake.check_cache
clion/cmake-build-debug/CMakeFiles/CMakeOutput.log
clion/cmake-build-debug/CMakeFiles/rules.ninja
clion/cmake-build-debug/CMakeFiles/TargetDirectories.txt
clion/cmake-build-debug/Testing/Temporary/LastTest.log
clion/CMakeLists.txt
clion/main.cpp
